.container {
  display: flex;
  align-items:center;
  justify-content:center;
  height: 10vh;
  background-color: #ab0302;
  gap: 80px;
}

.search{
  width: 400px;
}


.botaoHeader{
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  cursor: pointer;
}

.logo{
  display: flex;
  align-items:center;
  justify-content:center;
  cursor: pointer;
  width: 100px;
}

img{
  width: 60px;
}

@media(max-width: 1012px) {
  .logo{
  display: flex;
  align-items:center;
  justify-content:center;
  cursor: pointer;
  width: 70px;
}
  img{
  width: 0px;
}

}

#titulo{
  padding-left: 20px;
}
