<app-header></app-header>
<div class="container">
  <div class="review-card">
    <div class="adicionaCarro">
      <h1>NEW CAR</h1>
      <span>BRAND</span>
      <input id="inputCarro" type="text" [(ngModel)]="marca" />
      <span>MODEL</span>
      <input id="inputCarro" type="text" [(ngModel)]="modelo" />
      <span>YEAR</span>
      <input id="inputCarro" type="number" [(ngModel)]="ano" />

      <span>SUBMIT IT <a (click)="salvarCarro()">RIGHT HERE</a></span>
      <a id="botaoVoltar" (click)="voltarNewReview()">
        <i
          class="fa-solid fa-arrow-left"
          style="color: #ab0302; margin-right: 5px"
        ></i>
        BACK TO REVIEWS
      </a>
    </div>
    <div class="imagemCarro">
      <span>UPLOAD IMAGE</span>
      <input type="file" (change)="onFileChange($event)" />
      <select [(ngModel)]="tipo" name="tipo">
        <option value="EX">Exterior</option>
        <option value="IN">Interior</option>
        <option value="MO">Motor</option>
      </select>
    </div>
  </div>
</div>
