<div class="card">
  <img *ngIf="imagem" [src]="imagem" alt="{{marca}} {{carModel}}" class="card-image" />
  <h2>{{ marca }} {{ carModel }} - {{ ano }}</h2>
  <p class="rating" id="rvLine">RATING: {{ rating }} ({{ votes }} VOTES)</p>
  <p class="author" id="rvLine">AUTHOR: {{ author }}</p>
  <div class="review-preview">
    <p id="rvLine">"<span>{{ texto }}</span>"</p>
  </div>

  <div class="actions">
    <a class="read-more-btn" (click)="onReadMore()">READ MORE</a>
    <button *ngIf="author === currentUserName" (click)="onDelete()">🗑 Delete</button>
  </div>
</div>