
<form class="form" (ngSubmit)="onSubmit(q.value)" style="position:relative">

  <button type="button" class="lupa" (click)="onSubmit(q.value)">
    <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img">
      <path d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9"
            stroke="currentColor" stroke-width="1.333"
            stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>

  <input #q type="text"
         class="input"
         placeholder="SEARCH CARS HERE ..."
         (input)="buscar(q.value)" />


  <ul class="dropdown" *ngIf="resultados.length">
    <li *ngFor="let car of resultados" (click)="selecionar(car)">
      {{ car.marca }} {{ car.modelo }} — {{ car.ano }}
    </li>
  </ul>


  <button type="reset" class="reset" (click)="resultados=[]">
    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
    </svg>
  </button>
</form>
