<div class="login">
  <h1>LOGIN PAGE</h1>
  <form>
    <div class="input-container">
      <span class="icon"><img src="carta.svg" class="carta"> </span>
      <input type="email" placeholder="EMAIL" />
    </div>

    <div class="input-container">
      <span class="icon"><img src="cadeado.svg" class="cadeado"></span>
      <input type="password" placeholder="PASSWORD" />
    </div>
    <div class="check-remember">
      <input type="checkbox" name="remember" clas="remember" id="remember">
      <label>REMEMBER ME</label>
    </div>
    <button (click)="fazerLogin()" class="button-login" >LOGIN</button>
    <div class="register">
      <p id = "texto-signup">NOT A MEMBER? <a (click)="irParaCadastro()" id = "signup">SIGN UP NOW</a></p>
    </div>
  </form>
</div>
